---
layout: default
title: Javier Ruiz
---
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="assets/js/myjs.js"></script>
<!-- Typekit font load--> 
<script src="//use.typekit.net/mxz4qjh.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

<div class="home-wrap">
	{% include header.html %}

	<div class="home-sections">

		    {% include section-about.html %}
        {% include section-work.html %}
        {% include section-testimonial.html %}
        {% include section-projects.html %}
        {% include columns.html %}

		<!--all the sections here-->
		<div style="height: 2000px"></div>

	</div>	
</div>
