<script src="../assets/js/test.js"></script>

<div class="mobile-nav">
	<!--NAV BAR!-->
	<div class="overlay" id="overlay">
		<nav class="overlay-menu">
			<ul>
				<li ><a href="#Home">Home</a></li>
				<li><a href="#About">About</a></li>
				<li><a href="#Work">Work</a></li>
				<li><a href="#Skills">Skills</a></li>
				<li><a href="#Projects">Projects</a></li>
				<li><a href="#Blog">Blog</a></li>
				<li><a href="#Life">Life</a></li>
				<li><a href="#Contact">Contact</a></li>
			</ul>
		</nav>
	</div>


	<!--Hamburger-->
	<div class="button_container" id="toggle">
		<span class="top"></span>
		<span class="middle"></span>
		<span class="bottom"></span>
	</div>
</div>

<header>
	<div class="logo"></div>

	<nav class="site-nav">
		
		<a href="#About">About</a>
		<a href="#Work">Work</a>
		<a href="#Skills">Skills</a>
		<a href="#Projects">Projects</a>
		<a href="#Blog">Blog</a>
		<a href="#Life">Life</a>
		<a href="#Contact">Contact</a>
	
	</nav>



	<!--Optional
	<a href="mailto:javi141196@hotmail.com" class="email-link">+emailme</a>-->

</header>

	