<section class="Work">
  <div class="flex flex--center">
    <div class="col-2">
      <!-- The Modal -->
      <div id="joist-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span id="close-1" class='close'>x</span>
          <p>I worked at Joist. It was fun!!!!!!!!!!!!!!!</p>
        </div>
      </div>

      <!-- The Modal -->
      <div id="davis-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span id="close-2" class='close'>x</span>
          <p>I worked at D+H. It was fun!!!!!!!!!!!!!!!</p><br>
          <p>YOOOOO</p>
        </div>
      </div>
  
      <!-- The Modal -->
      <div id="freelance-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span id="close-3" class='close'>x</span>
          <p>I did Freelance. It was fun!!!!!!!!!!!!!!!</p><br>
          <p>YOOOOO Homie</p>
        </div>
      </div>


      <h2><span class="gold">Work</span> Experience</h2>
      <!-- line-break -->
     <!--  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="177" height="37" viewBox="0 0 177 37">
        <image xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAALEAAAAlCAMAAAA6APiiAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAbFBMVEUAAACtk2Wtk2Wtk2Wtk2Wtk2VXSjMAAABQRC8AAAAAAAAAAAAAAAAAAAAAAAAAAACtk2Wtk2Wtk2VtXUAAAACTfVajil8hHBMAAABnWDyljGBoWD2PelStk2Wtk2Wfh10AAACfh10AAAAAAADSMSMbAAAAI3RSTlMAIawikAwMCg0UHBobEAgE1cyrEwEomB8GOZYKKY8GJQckGb1TezYAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAABCklEQVRYw9XS2Q6CQAwFUFAWYQQVEYYd/f+PdATcgD4YmdB7X5u0J801DD0xN1tNm3WBLduCIpuW4zpIZNPaeb63wyE/wELsFdlcm/IDOAgDgULuwQfjgEJ+gg0U8hsMQv4EQ5C/wQDkMZg9eQpmTp4DsybPgxmTKfDy5OPpvxyHPdGZAPfkc7Twvb8TX5KUAD/IaXKJF3vyMpFelhfktMgzT65NHMX1RVnVxLCuSuG7axNHkarFDUGuq0Y1mduP45Yk9+CWW49pMlcwSeYLJsicwbNk3uAZMnfwhMwfPCIjgAfytSNjgD/IKOAX2YYBd+RbcI1wwAM5BAL3xRBI4I7sQ4EVWbpSE/gOTJslOhDMC2AAAAAASUVORK5CYII=" width="177" height="37"/>
      </svg> -->
      <hr class="line-break"></hr>
      <div class="jobs">
        <div class="individual-job">
          <button id="joist-btn" class="link-effect">
            <span class="border">
              <h3>Joist</h3>
              <h4>Full-Stack Software Engineer</h4>
            </span>
          </button>
        </div>
        <div class="individual-job">
          <button id="davis-btn" class="link-effect">
            <span class="border">
              <h3>Davis <span style="position: relative;top:6px">+</span> Henderson</h3>
              <h4>Software Developer</h4>
            </span>
          </button>
        </div>
        <div id="freelance-btn" class="individual-job">
          <button class="link-effect">
            <span class="border">
              <h3>Freelance</h3>
              <h4>Motion Graphic Designer</h4>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>