<section class="About">
  <div class="flex flex--center">
    <div class="col-2">
      <h2>A <span class="gold">brief</span> background</h2>
      <hr class="line-break">
      <p class="common">
        Hey there, I see you've stumbled upon my website! I'm <span style="color: red">Javier</span>. A 19 year old Software Developer currently studying Computer Science
        at the University of Waterloo. My interest in both <span class="gold">Software</span> and <span class="gold">Web</span> development stemmed from my 
        fascination with computers and video games from a very early age. I have a strong passion for 
        developing innovative software and creating unforgettable user experiences. I also like to mingle with Graphic Design from time to time.
      </p>
      <a href="https://github.com/JavierR14" target="_blank">Resume</a>
    </div>
  </div>
</section>