<section class="Work">
  <div class="flex flex--center">
    <div class="col-2">
      <h2><span class="gold">Work</span> Experience</h2>
      <hr class="line-break">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo massa et sodales fringilla. Duis nec ullamcorper orci. Morbi laoreet bibendum posuere. Sed eu ultrices libero. Donec quam lacus, laoreet vitae faucibus vitae, posuere id diam. Duis efficitur gravida ex ut porta. Curabitur ultrices enim sit amet sollicitudin aliquam. Curabitur quis nunc at est faucibus imperdiet in et metus. Fusce egestas convallis dapibus. Maecenas tincidunt tincidunt ex, et mattis magna rhoncus vel. Sed urna purus, facilisis non feugiat id, volutpat a ligula. Vivamus auctor lectus ut bibendum sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque blandit mauris tristique pulvinar molestie. Mauris cursus sit amet nunc eu aliquam.
      </p>
    </div>
  </div>
</section>