<section class="Contact">
  <div class="flex flex--center">
    <div class="col-2">
      <h2><span class="gold">Contact</span> Me</h2>
      <hr class="line-break">
      <p>*Currently looking for a Fall 2016 internship*</p>
      <h3>Feel Free to <span style='color: #ad9365'>Say Hello!</span></h3>
      <form id='contactform' method="POST">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <textarea class="message" name="message" placeholder="Your Message"></textarea>
        <input type="submit" class="send" value="Send">
        <input type="hidden" name="_next" value="javierr14.github.io" />
        <input type="text" name="_gotcha" style="display:none" />
      </form>
    </div>
  </div>
</section>