<section class="Testimonial">
  <div class="flex flex--center">
    <div class="col-2">
      <p>"Javier worked with our team to define the needed outcomes, did research, and tried different approaches to find solutions. He contributed significantly to the end product. He is driven, enthusiastic, adaptive, and an excellent team player. He is welcome to return should he desire."
      <br>
      <span class="position">Steve D'Agostinelli 
      <br>
      CMS Dev Delivery Manager of D+H
      </span>
      </p>
    </div>
  </div>
</section>