<section class="About">
  <div class="flex flex--center">
    <div class="col-2">
      <h2>A <span class="gold">brief</span> background</h2>
      <p class="common">
        Hey there, my name name is Javier. I'm a 19 year old Developer currently studying Computer Science
        at the University of Waterloo. My interest in both Software and Web development stemmed from my 
        fascination with computers and video games from a very early age. I have a strong passion for 
        developing innovatinve software and creating unforgettable user experiences.
      </p>
    </div>
  </div>
</section>