/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro);
@import url(https://fonts.googleapis.com/css?family=Nunito:700);
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #00a; }

a:hover {
  color: #000; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em; }

.posts li {
  line-height: 1.75em; }

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em; }

.header a {
  font-weight: bold;
  text-decoration: none; }

.title {
  display: inline-block;
  margin-bottom: 2em; }

.title a {
  color: #a00; }

.title a:hover {
  color: #000; }

.header a.extra {
  color: #aaa;
  margin-left: 1em; }

.header a.extra:hover {
  color: #000; }

.meta {
  color: #aaa; }

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden; }

.footer .contact {
  float: left;
  margin-right: 3em; }

.footer .contact a {
  color: #8085C1; }

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right; }

.footer .rss img {
  border: 0; }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em; }

.post ul, .post ol {
  margin-left: 1.35em; }

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em; }

.post pre code {
  border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF; }

.post pre.terminal code {
  background-color: #333; }

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  font-weight: bold; }

.gigantic {
  font-size: 110px;
  line-height: 1.09;
  letter-spacing: -2px; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, h2 {
  font-size: 48px;
  line-height: 1.14; }

.bigger, h3 {
  font-size: 42px;
  line-height: 1.38; }

.big, h4 {
  font-size: 30px;
  line-height: 1.38; }

.small, small {
  font-size: 10px;
  line-height: 1.2; }

.gold {
  color: #ad9365; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  color: #ffffff;
  text-decoration: none;
  outline: 0; }

a:hover, a:focus {
  color: #ad9365;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out; }

::-moz-selection {
  background: #FFF498; }

::selection {
  background: #FFF498; }

::-moz-selection {
  background: #FFF498; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #FFF498; }

html,
body {
  min-height: 100vh; }

body {
  background: #eee;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans' sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

.home-wrap header {
  height: 540px;
  background-image: url(/assets/img/earth-optimized.jpeg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.home-wrap .content {
  font-family: 'Poiret One';
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 90px;
  position: relative;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  .home-wrap .content #javier {
    line-height: 100%;
    margin: 0;
    display: block; }
  .home-wrap .content #role {
    font-size: 18px;
    margin: 10px 0;
    color: #ad9365;
    font-weight: bold; }

.home-wrap .site-nav {
  text-align: right;
  width: 100%;
  display: inline-block;
  margin: 0px 20px 0px -20px;
  padding: 20px 0px;
  height: auto;
  position: absolute; }
  .home-wrap .site-nav a {
    display: inline-block;
    margin-left: 28px;
    letter-spacing: 0.12em;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poiret One'; }
    .home-wrap .site-nav a[href="#Contact"] {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid #ad9365;
      color: #ad9365; }
      .home-wrap .site-nav a[href="#Contact"]:hover {
        color: #FFF;
        background: #ad9365;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }

.button_container {
  opacity: 1;
  position: fixed;
  top: 40px;
  right: 40px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease; }
  .button_container:hover {
    opacity: 0.7; }
  .button_container.active > .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: black; }
  .button_container.active > .middle {
    opacity: 0;
    background: black; }
  .button_container.active > .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: black; }
  .button_container > span {
    background: #ad9365;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    cursor: pointer; }
    .button_container > span:nth-of-type(2) {
      top: 11px; }
    .button_container > span:nth-of-type(3) {
      top: 22px; }

.overlay {
  z-index: 99;
  display: block;
  position: fixed;
  background: #ad9365;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.45s, visibility 0.45s, height 0.45s;
  transition: opacity 0.45s, visibility 0.45s, height 0.45s;
  overflow: hidden; }
  .overlay.open {
    opacity: 0.8;
    visibility: visible;
    height: 100%; }
    .overlay.open li {
      -webkit-animation: fadeInRight 0.45s ease forwards;
      animation: fadeInRight 0.45s ease forwards;
      -webkit-animation-delay: 0.45s;
      animation-delay: 0.45s; }
      .overlay.open li:nth-of-type(2) {
        -webkit-animation-delay: 0.48s;
        animation-delay: 0.48s; }
      .overlay.open li:nth-of-type(3) {
        -webkit-animation-delay: 0.51s;
        animation-delay: 0.51s; }
      .overlay.open li:nth-of-type(4) {
        -webkit-animation-delay: 0.54s;
        animation-delay: 0.54s; }
      .overlay.open li:nth-of-type(5) {
        -webkit-animation-delay: 0.57s;
        animation-delay: 0.57s; }
      .overlay.open li:nth-of-type(6) {
        -webkit-animation-delay: 0.60s;
        animation-delay: 0.60s; }
      .overlay.open li:nth-of-type(7) {
        -webkit-animation-delay: 0.63s;
        animation-delay: 0.63s; }
      .overlay.open li:nth-of-type(8) {
        -webkit-animation-delay: 0.66s;
        animation-delay: 0.66s; }
  .overlay nav {
    position: relative;
    height: 70%;
    top: 45%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'Poiret One';
    font-size: 30px;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      height: calc(100%/7);
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #FFF;
        text-decoration: none;
        overflow: hidden; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after {
          width: 100%; }
        .overlay ul li a:active {
          top: 1px; }
          .overlay ul li a:active:after {
            width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 3px;
          background: white;
          -webkit-transition: 0.5s;
          transition: 0.5s; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

.button_container, .overlay {
  opacity: 0; }

.logo {
  display: none;
  height: 65px;
  width: 65px;
  background-image: url(/assets/img/logo-jr.svg);
  background-padding: 0;
  background-margin: 0;
  background-repeat: no-repeat;
  float: left;
  margin: 35px 0 0 30px;
  padding: 0; }

@media (max-width: 987px) {
  .home-wrap .site-nav {
    display: none; }
  .button_container {
    opacity: 1;
    opacity: 1;
    position: fixed;
    top: 30px;
    right: 30px;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; }
    .button_container:hover {
      opacity: 0.7; }
    .button_container.active > .top {
      -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: black; }
    .button_container.active > .middle {
      opacity: 0;
      background: black; }
    .button_container.active > .bottom {
      -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: black; }
    .button_container > span {
      background: #ad9365;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      cursor: pointer; }
      .button_container > span:nth-of-type(2) {
        top: 11px; }
      .button_container > span:nth-of-type(3) {
        top: 22px; }
  .overlay {
    display: block;
    position: fixed;
    background: #ad9365;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.45s, visibility 0.45s, height 0.45s;
    transition: opacity 0.45s, visibility 0.45s, height 0.45s;
    overflow: hidden; }
    .overlay.open {
      opacity: 0.7;
      visibility: visible;
      height: 100%; }
      .overlay.open li {
        -webkit-animation: fadeInRight 0.45s ease forwards;
        animation: fadeInRight 0.45s ease forwards;
        -webkit-animation-delay: 0.45s;
        animation-delay: 0.45s; }
        .overlay.open li:nth-of-type(2) {
          -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s; }
        .overlay.open li:nth-of-type(3) {
          -webkit-animation-delay: 0.51s;
          animation-delay: 0.51s; }
        .overlay.open li:nth-of-type(4) {
          -webkit-animation-delay: 0.54s;
          animation-delay: 0.54s; }
        .overlay.open li:nth-of-type(5) {
          -webkit-animation-delay: 0.57s;
          animation-delay: 0.57s; }
        .overlay.open li:nth-of-type(6) {
          -webkit-animation-delay: 0.60s;
          animation-delay: 0.60s; }
        .overlay.open li:nth-of-type(7) {
          -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s; }
        .overlay.open li:nth-of-type(8) {
          -webkit-animation-delay: 0.66s;
          animation-delay: 0.66s; }
    .overlay nav {
      position: relative;
      height: 70%;
      top: 45%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: 'Poiret One';
      font-size: 30px;
      font-weight: 400;
      text-align: center; }
    .overlay ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%; }
      .overlay ul li {
        display: block;
        height: 25%;
        height: calc(100%/7);
        min-height: 50px;
        position: relative;
        opacity: 0; }
        .overlay ul li a {
          display: block;
          position: relative;
          color: #FFF;
          text-decoration: none;
          overflow: hidden; }
          .overlay ul li a:hover:after, .overlay ul li a:focus:after {
            width: 100%; }
          .overlay ul li a:active {
            top: 1px; }
            .overlay ul li a:active:after {
              width: 100%; }
          .overlay ul li a:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            height: 3px;
            background: white;
            -webkit-transition: 0.5s;
            transition: 0.5s; }
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } } }

@media (max-width: 930px) {
  .home-wrap {
    display: block; } }

section.About {
  height: auto;
  background: white; }
  section.About h2 {
    color: black;
    font-weight: normal;
    font-family: 'Poiret One'; }
  section.About p {
    font-size: 18px;
    font-family: 'futura-pt', 'sans-serif';
    line-height: 1.8; }

.line-break {
  border: 0;
  width: 50%;
  margin: 30px 25% 30px 25%;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, #ad9365, transparent);
  background-image: linear-gradient(to right, transparent, #ad9365, transparent); }

section.Work {
  background-image: url(/assets/img/work.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
  /* The Modal (background) */
  /* Modal Content/Box */
  /* The Close Button */ }
  section.Work h2 {
    color: white;
    font-weight: normal;
    font-family: 'Poiret One'; }
  section.Work h3 {
    color: white;
    font-weight: normal;
    font-family: 'Poiret One'; }
  section.Work h4 {
    color: #ad9365;
    font-family: 'Poiret One';
    font-weight: normal;
    margin-top: -8px; }
  section.Work p {
    color: white;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 0 0;
    font-family: futura-pt;
    font-size: 14px; }
  section.Work ul {
    list-style-type: none;
    margin-right: 65px;
    margin-left: 70px;
    text-align: left; }
    section.Work ul li {
      font-family: 'futura-pt', 'monospace';
      font-size: 16px;
      margin-bottom: 15px;
      position: relative;
      padding-left: 25px;
      margin-top: 15px;
      line-height: 1.5; }
    section.Work ul li:before {
      font-family: 'FontAwesome';
      content: "\f06d";
      position: absolute;
      color: #C400FF;
      left: 0; }
  section.Work #davis-modal h2 {
    padding-left: 35px; }
  section.Work #davis-modal ul li:before {
    color: #e00606; }
  section.Work a {
    text-decoration: none; }
  section.Work .individual-job {
    padding: 25px 0 25px 0; }
  section.Work .line-break {
    width: 75%;
    margin: 30px 25% 30px 15%; }
  section.Work svg {
    display: block;
    margin: auto;
    padding: 20px 0 15px 0; }
  section.Work .links {
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    background: #313131; }
  section.Work button {
    background: transparent;
    border: none;
    cursor: pointer; }
    section.Work button:focus {
      outline: 0; }
  section.Work button {
    color: #797878;
    margin: 0 20px;
    padding: 10px 20px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    -webkit-transition: 0.3s ease-out;
            transition: 0.3s ease-out; }
    section.Work button .border::before {
      width: 5px;
      height: 5px;
      background: transparent;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-top: 2px solid red;
      border-left: 2px solid red;
      -webkit-transition: 0.3s;
              transition: 0.3s;
      opacity: 0; }
    section.Work button .border::after {
      width: 5px;
      height: 5px;
      background: transparent;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      border-right: 2px solid red;
      border-bottom: 2px solid red;
      -webkit-transition: 0.3s;
              transition: 0.3s;
      opacity: 0; }
    section.Work button::before {
      width: 5px;
      height: 5px;
      background: transparent;
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      border-right: 2px solid red;
      border-top: 2px solid red;
      -webkit-transition: 0.3s;
              transition: 0.3s;
      opacity: 0; }
    section.Work button::after {
      width: 5px;
      height: 5px;
      background: transparent;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-left: 2px solid red;
      border-bottom: 2px solid red;
      -webkit-transition: 0.3s;
              transition: 0.3s;
      opacity: 0; }
    section.Work button:hover {
      color: #ad9365; }
      section.Work button:hover::before {
        opacity: 1;
        right: 5px;
        top: 5px; }
      section.Work button:hover::after {
        opacity: 1;
        left: 5px;
        bottom: 5px; }
      section.Work button:hover .border::before {
        opacity: 1;
        left: 5px;
        top: 5px; }
      section.Work button:hover .border::after {
        opacity: 1;
        right: 5px;
        bottom: 5px; }
      section.Work button:hover .border h3 {
        color: #ad9365;
        -webkit-transition: 0.3s all;
                transition: 0.3s all; }
      section.Work button:hover .border h4 {
        color: white;
        -webkit-transition: 0.3s all;
                transition: 0.3s all; }
  section.Work .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6); }
  section.Work .modal-content {
    background-color: #FDFFF2;
    margin: 15% auto;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0; }
    section.Work .modal-content p {
      color: black; }
    section.Work .modal-content h2 {
      background: rgba(0, 0, 0, 0.03);
      padding: 10px 0;
      color: #ad9365;
      letter-spacing: 0.04em; }
    section.Work .modal-content .modal-body {
      padding: 0 20px 20px 20px; }
  section.Work .close {
    color: #ad9365;
    float: right;
    right: 20px;
    position: relative;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Nunito'; }
  section.Work .close:hover,
  section.Work .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: 0.2s all;
            transition: 0.2s all; }
  @media (max-width: 736px) {
    section.Work .modal-content {
      margin: 30% auto; } }

.home-sections {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .home-sections section {
    padding: 50px 0; }
  .home-sections p {
    font-size: 14px;
    color: black; }
  .home-sections .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: rows;
        -ms-flex-direction: rows;
            flex-direction: rows; }
  .home-sections .flex--center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .home-sections .flex--space-around {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .home-sections .order-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }

.col-1 {
  max-width: 300px;
  margin: 0 10px;
  background: pink; }

.col-2 {
  max-width: 620px;
  margin: 0 10px; }

.col-50 {
  width: 50%;
  background: yellow; }

@media (max-width: 640px) {
  .home-sections .flex {
    display: block; }
  .col-1 {
    max-width: 100%; }
  .col-50 {
    width: auto; } }

section.Testimonial {
  background: #f4f0ed url(/assets/img/quote.svg) 20% 50% fixed no-repeat;
  height: auto; }
  section.Testimonial .col-1 {
    background: none; }
  section.Testimonial p {
    font-family: futura-pt;
    font-size: 16px;
    font-weight: lighter; }
  section.Testimonial .position {
    float: right;
    margin-top: 15px;
    text-align: right; }

section.Projects {
  height: auto;
  padding: 0; }
  section.Projects h2 {
    color: black;
    font-weight: normal;
    font-family: 'Poiret One';
    margin-top: 50px; }
  section.Projects .line-break {
    width: 15%;
    margin: 30px 42% 30px 42%; }
  section.Projects .project-one {
    height: 385px;
    background: url(/assets/img/nym-in.png);
    background-size: cover;
    background-position: left 100px center;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
  @media (max-width: 730px) {
    section.Projects .project-one {
      background-position: left 0px center;
      -webkit-transition: all 0.5s ease;
              transition: all 0.5s ease; } }
  section.Projects .col-50 {
    height: 385px; }
  section.Projects .project-two {
    background: url(/assets/img/website.png);
    background-size: cover;
    background-position: center center;
    left: 60px; }
