section.Work
  background-image: url(/assets/img/work.png)
  background-position: center center
  background-size: cover
  width: 100%
  height: auto

  #section
    padding: 0
    line-height: 0
    border: none

  h2
    color: white
    font-weight: normal
    font-family: 'Poiret One'
    transition: all 0.5s ease

  h3
    color: white
    font-weight: normal
    font-family: 'Poiret One'

  h4
    color: #ad9365
    font-family: 'Poiret One'
    font-weight: normal
    margin-top: -8px
  p
    color: white
    font-weight: 500
    text-align: center
    margin: 20px 0 0 0
    font-family: futura-pt
    font-size: 14px

  ul
    list-style-type: none
    margin-right: 65px
    margin-left: 70px
    text-align: left
    color: #4f4f4f

    li
      font-family: 'futura-pt', 'monospace'
      font-size: 16px
      margin-bottom: 15px
      position: relative
      padding-left: 25px
      margin-top: 15px
      line-height: 1.5
    li:before
      font-family: 'FontAwesome'
      content: "\f249"
      position: absolute
      color: #55acee
      left: 0

  #davis-modal
    h2
      padding-left: 35px
    ul
      li:before
        color: #e00606
  #joist-modal
    ul
      li:before
        color: #67C118

  #px-modal
    ul
      li:before
        color: #ff6554
  a
    text-decoration: none

  .individual-job
    padding: 25px 0 25px 0

  .line-break
    width: 75%
    margin: 30px 25% 30px 15%

  svg
    display: block
    margin: auto
    padding: 20px 0 15px 0

  .links
    // @include clearfix
    padding: 50px
    box-sizing: border-box
    text-align: center
    background: #313131

  button
    background: transparent
    border: none
    cursor: pointer
    &:focus
      outline: 0
  //link-effects------------------------------------------
  .link-effect
  button
    color: #797878
    margin: 0 20px
    padding: 10px 20px
    position: relative
    overflow: hidden
    display: inline-block
    transition: 0.3s ease-out
    .border
      &::before
        width: 5px
        height: 5px
        background: transparent
        content: ""
        position: absolute
        left: 0
        top: 0
        border-top: 2px solid red
        border-left: 2px solid red
        transition: 0.3s
        opacity: 0
      &::after
        width: 5px
        height: 5px
        background: transparent
        content: ""
        position: absolute
        right: 0
        bottom: 0
        border-right: 2px solid red
        border-bottom: 2px solid red
        transition: 0.3s
        opacity: 0
    &::before
      width: 5px
      height: 5px
      background: transparent
      content: ""
      position: absolute
      right: 0
      top: 0
      border-right: 2px solid red
      border-top: 2px solid red
      transition: 0.3s
      opacity: 0
    &::after
      width: 5px
      height: 5px
      background: transparent
      content: ""
      position: absolute
      left: 0
      bottom: 0
      border-left: 2px solid red
      border-bottom: 2px solid red
      transition: 0.3s
      opacity: 0
    &:hover
      color: #ad9365
      &::before
        opacity: 1
        right: 5px
        top: 5px
      &::after
        opacity: 1
        left: 5px
        bottom: 5px
      .border
        &::before
          opacity: 1
          left: 5px
          top: 5px
        &::after
          opacity: 1
          right: 5px
          bottom: 5px
        h3
          color: #ad9365
          transition: 0.3s all
        h4
          color: white
          transition: 0.3s all

  /* The Modal (background) */
  .modal
    display: none /* Hidden by default */
    position: fixed /* Stay in place */
    z-index: 1 /* Sit on top */
    left: 0
    top: 0
    width: 100% /* Full width */
    height: 100% /* Full height */
    overflow: hidden /* Enable scroll if needed */
    background-color: rgb(0,0,0) /* Fallback color */
    background-color: rgba(0,0,0,0.6) /* Black w/ opacity */

  /* Modal Content/Box */
  .modal-content
    position: fixed
    background-color: #FFFFFF    /*#FFFCF6*/
    border: 1px solid #888
    width: 60%
    color: #4f4f4f
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0
    /* Hackish way of vertically aligning fixed div */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p
      color: black
    h2
      background: rgba(0,0,0,0.03)
      padding: 10px 0
      color: #ad9365
      letter-spacing: 0.04em
    .modal-body
      padding: 0 20px 20px 20px

  .plus
    position: relative
    top: 6px
    color: #e00606
    margin: 0 -10px

  @media(max-width: 840px)
    .modal
      overflow: auto
    .modal-content
      position: relative
      width: 80%
      top: 0
      left: 0
      transform: none
      margin: 30% auto
      ul
        margin-right: 20px
        margin-left: 20px
        text-align: left
      p
        font-size: 12px

  /* The Close Button */
  .close
    color: #ad9365
    float: right
    right: 20px
    position: relative
    font-size: 32px
    font-weight: bold
    font-family: 'Nunito'


  .close:hover,
  .close:focus
    color: black
    text-decoration: none
    cursor: pointer
    transition: 0.2s all

  @media(max-width: 670px)
    h2
      font-size: 24px
      transition: all 0.5s ease
    .close
      font-size: 26px
    .plus
      top: 3px
